<h5>Hi, <%= @timeslot.student.name %>!</h5>
<p>This is a scheduling notification from there's a board.</p>
<p>You are scheduled for a tutoring session with <%= @timeslot.tutor.name %> on <%= @timeslot.start.strftime("%A, %b %e '%y, at %l:%M %P") %>.</p>
<p>You can contact your tutor at <%= @timeslot.tutor.email %>.</p>
