<h5>Hi, <%= @timeslot.tutor.name %>!</h5>
<p>This is a scheduling notification from there's a board.</p>
<p><%= @timeslot.student.name %> has claimed the tutoring time slot you offered on <%= Time.zone.at(@timeslot.start).strftime("%A, %b %e '%y, at %l:%M %P") %>.</p>
<p>You can contact this student at <%= @timeslot.student.email %>.</p>
