<div class="sidebar sidebar-secondary sidebar-default">
  <div class="sidebar-content">

    <!-- Sidebar tabs -->
    <div class="tabbable sortable">
      <ul class="nav nav-lg nav-tabs nav-justified">
        <li class="active">
          <a href="#main-tab" data-toggle="tab">
            <i class="icon-grid-alt"></i>
            <span class="visible-xs-inline-block position-right">Components</span>
          </a>
        </li>

        <li>
          <a href="#tab-2" data-toggle="tab">
            <i class="icon-menu6"></i>
            <span class="visible-xs-inline-block position-right">Forms</span>
          </a>
        </li>

        <li>
          <a href="#tab-3" data-toggle="tab">
            <i class="icon-menu6"></i>
            <span class="visible-xs-inline-block position-right">Forms</span>
          </a>
        </li>

      <div class="tab-content">
        <div class="tab-pane active no-padding" id="main-tab">

          <!-- Block buttons -->
            <div class="category-content">
              <div class="row">
                <div class="col-xs-6">
                  <button onClick="mentorDispatcher.openRequest()" id="help-button" class="btn bg-warning-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-people"></i><span>Get Help</span></button>
                </div>
                
                <div class="col-xs-6">
                  <button class="btn bg-teal-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-git-branch"></i> <span>Feedback</span></button>
                </div>
              </div>
            </div>
          <!-- /block buttons -->       
          

        </div>

        <div class="tab-pane no-padding" id="tab-2">

          <!-- Title -->
          <div class="category-title h6">
            <span>Empty Tab</span>

          </div>
          <!-- /title -->      

        </div>

        <div class="tab-pane no-padding" id="tab-3">

          <!-- Title -->
          <div class="category-title h6">
            <span>Empty Tab</span>

          </div>
          <!-- /title -->      

        </div>

        

        </div>
      </div>
    </div>
  </div>
<!-- /secondary sidebar -->