<script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
<script type="text/javascript" src="assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="assets/js/pages/extra_fullcalendar.js"></script>
<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <!-- Basic view -->
      <div class="panel panel-flat">
        <div class="panel-heading">
          <h5 class="panel-title">Mentor Board</h5>
          <div class="heading-elements">
            <ul class="icons-list">
                      <li><a data-action="collapse"></a></li>
                      <li><a data-action="reload"></a></li>
                      <li><a data-action="close"></a></li>
                    </ul>
                  </div>
        </div>
        
        <div class="panel-body">
          <p class="content-group">These are the timeslots for mentoring that have been scheduled.</p>

          <div class="fullcalendar-basic"></div>
        </div>
      </div>
      <!-- /basic view -->