<script type="text/javascript" src="assets/js/plugins/ui/moment/moment.min.js"></script>
<script type="text/javascript" src="assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="assets/js/app/app_fullcalendar.js"></script>
<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.js"></script>
<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.time.js"></script>
<script type="text/javascript" src="assets/js/plugins/pickers/pickadate/picker.date.js"></script>

<!-- Page header -->
<div class="page-header">
  <div class="page-header-content">
    <div class="page-title">
      <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Dashboard</span> - Student View</h4>

      <ul class="breadcrumb breadcrumb-caret position-right">
        <li><a href="#">Home</a></li>
        <li><a href="#">Dashboard</a></li>
        <li class="active">Student view</li>
      </ul>
    </div>

    <div class="heading-elements">
      <div class="heading-btn-group">
        <a href="#" class="btn btn-link btn-float has-text"><i class="icon-calendar5 text-primary"></i> <span>Add</span></a>
      </div>
    </div>
  </div>
</div>
<!-- /page header -->

<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <div class="panel panel-flat">

        <div class="panel-heading">
          <h5 class="panel-title">Tutor Board</h5>
          <div class="heading-elements">
            <ul class="icons-list">
              <li><a data-action="collapse"></a></li>
              <li><a data-action="reload"></a></li>
              <li><a data-action="close"></a></li>
            </ul>
          </div>
        </div>

        <!-- FullCalendar View -->
        <div class="panel-body">
          <div class="fullcalendar-basic"></div>
        </div>
        <!-- FullCalendar View -->

      </div>
    </div>
  </div>
</div>

            
      <div id="modal_new_timeslot" class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h5 class="modal-title">Show a timeslot</h5>
            </div>

            <div class="modal-body">
              <input type="text" class="datepicker">
              <input type="text" class="timepicker">
            </div>

            <div class="modal_new_timeslot_footer">
              <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      
<!-- Modal used for showing timeslots -->
<div id="modal_remote" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- /Modal used for showing timeslots -->