<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">

    <!-- Main content -->
    <div class="content-wrapper">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">The Board</h5>
          <!--New Button-->
          <div class="heading-elements">
            <select id='calendar-filter' name='search' class="btn btn-primary btn-xs heading-btn">
              <option value='ALL'>All</option>
              <option value='AVAILABLE'>Available</option>
              <option value='MINE'>Mine</option>
            </select>
            <button id="new-timeslot-btn" type="button" class="btn btn-success btn-xs heading-btn" onClick="makeNewTimeslotbutton()">
              New Availability
            </button>
          </div>
        </div>

        <!-- FullCalendar View -->
        <div class="panel-body">
          <div id="tutor-cal" class="fullcalendar-basic"></div>
        </div>
        <!-- FullCalendar View -->

      </div>
    </div>
  </div>
</div>

<!-- Modal used for showing timeslots -->
<div id="modal_remote" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- /Modal used for showing timeslots -->

<!-- Create timeslot modal -->
<div id="modal_new_timeslot" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title"><h5 class="modal-title"><i class="icon-alarm-add"></i> &nbsp;Add Tutoring Time</h5>
      </div>

      <form id="new-timeslot-form" action="#">
        <div class="modal-body">
          <div class="alert alert-info alert-styled-left text-blue-800 content-group">
              <span class="text-semibold">Remember!</span> All sessions are 30 minutes.
              <button type="button" class="close" data-dismiss="alert">×</button>
          </div>
          <h6 class="text-semibold">Select a Date</h6>
          <div class="input-group">
                <span class="input-group-addon"><i class="icon-calendar5"></i></span>
                <input type="text" placeholder="Select a Date" class="form-control datepicker">
          </div>

          <h6 class="text-semibold">Select a Time</h6>
          <div class="input-group">
                <span class="input-group-addon"><i class="icon-alarm"></i></span>
                <input type="text" placeholder="Select a Time" class="form-control timepicker">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          <button id="create-timeslot" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /create timeslot modal -->
<!-- create new share modal-->
<div id="new_share_modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

    </div>
  </div>
</div>
<!--/create new share modal-->
