<div id="root" style="width: 280px; margin: 40px auto; padding: 10px; ; border-width: 1px;">
</div>
<script src="https://cdn.auth0.com/js/lock-9.1.min.js"></script>
<script>
  var lock = new Auth0Lock("<%= ENV["AUTH0_CLIENT"] || 'IjMvSSE8zdo53tB1QFX5U8EDIxCTzW8Z' %>", 'dbc-mentor-me.auth0.com');
  var url = (document.location.origin + "/auth/auth0/callback")

  lock.show({
      container: 'root'
    , callbackURL: url
    , responseType: 'code'
    , authParams: {
      scope: 'openid profile'
    }
  });
</script>
