<form id='new_share_form' method='post'>
  <input type='text' name='share[url]' placeholder='url'>
  <input type='text' name='share[title]' placeholder='title'>
  <input type='text' name='share[description]' placeholder='description'>
  <input type='text' name='share[category]' placeholder='category'>
  <input type="submit" value="share!">
</form>
