<form id="edit-user-form" action="/api/users/<%= current_user.id %>" method="post">
    <div class="panel-heading bg-primary">
      <h5 class="panel-title"><i class="icon-profile"></i> &nbsp;Update Your User Settings:</h5>
      <div class="heading-elements">
        <ul class="icons-list">
          <li><a data-action="close"></a></li>
        </ul>
      </div>
    </div>

    <div class="panel-body">
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
      <button id="share-res-btn" type="submit" class="btn btn-success">Update</button>
    </div>
</form>