  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>

  <!-- Global stylesheets -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
  <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/minified/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/minified/core.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/minified/components.min.css" rel="stylesheet" type="text/css">
  <link href="/assets/css/minified/colors.min.css" rel="stylesheet" type="text/css">
  <!-- /global stylesheets -->

  <!-- Core JS files -->
  <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/ui/nicescroll.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/ui/drilldown.js"></script>
  <!-- /core JS files -->

  <!-- Theme JS files -->

  <script type="text/javascript" src="/assets/js/core/app.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/notifications/sweet_alert.min.js"></script>

  <!-- /theme JS files -->

  <script type="text/javascript" src="/assets/js/plugins/ui/moment/moment.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/ui/fullcalendar/fullcalendar.min.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/pickers/pickadate/picker.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/pickers/pickadate/picker.time.js"></script>
  <script type="text/javascript" src="/assets/js/plugins/pickers/pickadate/picker.date.js"></script>
