<!-- Page container -->
<div class="page-container">

  <!-- Page content -->
  <div class="page-content">
  <%= render partial: 'sidebar' %>

    <!-- Main content -->
    <div class="content-wrapper">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h5 class="panel-title">Mentor Request Queue</h5>
          <!--New Button-->
        </div>

        <div class="panel-body">
                        <ul class="media-list" id="request-queue-list">
                        </ul>
                      </div>

      </div>
    </div>
  </div>
</div>

<!-- Modal used for showing timeslots -->
<div id="modal_remote" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- /Modal used for showing timeslots -->

<!-- Create timeslot modal -->
<div id="modal_new_timeslot" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title"><h5 class="modal-title"><i class="icon-alarm-add"></i> &nbsp;Add Tutoring Time</h5>
      </div>

      <form id="new-timeslot-form" action="#">
        <div class="modal-body">
          <div class="alert alert-info alert-styled-left text-blue-800 content-group">
              <span class="text-semibold">Remember!</span> All sessions are 30 minutes.
              <button type="button" class="close" data-dismiss="alert">×</button>
          </div>
          <h6 class="text-semibold">Select a Date</h6>
          <div class="input-group">
                <span class="input-group-addon"><i class="icon-calendar5"></i></span>
                <input type="text" placeholder="Select a Date" class="form-control datepicker">
          </div>

          <h6 class="text-semibold">Select a Time</h6>
          <div class="input-group">
                <span class="input-group-addon"><i class="icon-alarm"></i></span>
                <input type="text" placeholder="Select a Time" class="form-control timepicker">
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
          <button id="create-timeslot" type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- /create timeslot modal -->
<!-- create new share modal-->
<div id="new_share_modal" class="modal fade">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">

    </div>
  </div>
</div>
<!--/create new share modal-->

<script id="request-template" type="text/x-handlebars-template">
{{#each .}}
<li class="media">
  <div class="media-left">
    <a href="#"><img src="{{ image }}" class="img-sm img-circle" alt=""></a>
  </div>

  <div class="media-body media-middle text-semibold">
    {{ username }}
    <div class="media-annotation">{{open}}</div>
  </div>

  <div class="media-right media-middle">
    <ul class="icons-list text-nowrap">
      <li>
        <a href="/api/mentor/queue/{{ id }}" class="close-request"><i class="icon-cross"></i></a>
      </li>
    </ul>
  </div>
</li>
{{/each}}
</script>