<div id="timeslot-<%= @timeslot.id %>">
  <% if @timeslot.tutor_id == current_user.id %>
    <p>You are tutoring: <%= @timeslot.student.name %></p>
  <% else %>
    <p>You are tutored by: <%= @timeslot.tutor.name %></p>
  <% end %>
    <p>Booking time: <%= @timeslot.start %>.</p>
</div>
